---
env:
  jasmine: true

globals:
  fixture: true
  expect: true
  sinon: true

rules:
  new-parens: off
  func-names: off
  max-len: off
  no-console: off
  no-new-func: off
  no-new-object: off
  no-new-wrappers: off
  no-array-constructor: off
  no-unused-expressions: off
  no-use-before-define: off
  global-require: off
  import/no-extraneous-dependencies: off
